* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
   
}

body {

    font-family: 'roboto',sans-serif;
    background-color: rgb(154, 255, 107);


}
.mydivs {

     height: 150vh;
    


}

#btn1, #btn2, #btn3, #btn4 {
       
     visibility: hidden;
     perspective: none;



}

.arrow-down::after { 
    
    
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    margin: auto;
    top: 40rem;
    right: 0;
    bottom: 20px;
    left: 0;
    border-right: 4px solid
     rgb(255, 255, 255);
    border-bottom: 4px solid
     rgb(250, 250, 250);
    transform: rotate(45deg); 
    cursor: pointer;
    
}

.arrow-up::after { 
    
    
     content: "";
     position: absolute;
     width: 40px;
     height: 40px;
     margin: auto;
     top: 40rem;
     right: 0;
     bottom: 20px;
     left: 0;
     border-right: 4px solid
      rgba(254, 254, 254, 0.966);
     border-bottom: 4px solid
      rgb(255, 255, 255);
     transform: rotate(225deg); 
     cursor: pointer;
     
 }


#div1 {

    background-color: rgb(7, 147, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    

}

#div1 h1 {
     margin: 1rem;
     color: white;
     text-shadow: 1px 1px 5px rgb(0,0,0,1);



}

#div1 i {
    
     text-shadow: 1px 1px 5px rgb(0,0,0,1);
     font-size: 1.5rem;
     color: white;
     padding: 3px;
     margin-bottom: 15px;
     

}

#div1 p {
    
     color: white;
     text-shadow: 1px 1px 5px rgb(0,0,0,1);
     line-height: 1; 
     letter-spacing: 0.5px;
     font-size: 1rem;
     margin-bottom: 35px;


}
.img-div { 
      
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 4rem;




}

.img-div div {
        
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 170px;
     height: 200px;
     border-radius: 50%;
     background-color: rgb(168, 254, 122);
     padding: 15px;


}
.img-div div img {

     height: 200px;
     border-radius: 50%;


}

#div2 {
     color: black;
     margin-top: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: relative;
     background: url(img/laptop-2298286_1280.png);
     background-size: cover;
     background-repeat: no-repeat;

}

#div2 div {

    
    height: 100vh;
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;

}
#div2 div img {

   height: 200px;
   width: 200px;
   margin-top: 10%;


}


#div2 div h1 {

     color: rgb(11, 7, 7);
     margin: 30px auto 30px;
  


}

#div2 div p {

     color: rgb(3, 2, 2);
     line-height: 2;
     /* letter-spacing: 0.5px; */
     font-size: 1.5rem;
     font-weight: bolder;
     font-style: italic;



}

#div3 {

        
     display: flexbox;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: relative;
     padding: 0px 10% 0px;
     background-color: rgb(42, 66, 66);
     border-radius: 5px;
     margin-bottom: 40px;
    





}

#skill_set {
   
     width: 100%;
     padding: 25px;
     background-color: rgb(6, 4, 8);

}
#skill_set h1, .skills h3, .skills p {

    color: rgb(171, 255, 115);
    text-shadow: 2px 2px 2px black ;
    padding: 5px;
    margin: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
  


}
.skills h3 .skills p {

    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 1rem;
  

}



.sklls-wrap {

     display: flex;
     background-color: rgb(51, 31, 67);
     margin-bottom: 20px;
     padding: 3px;
     line-height: 1;
     border-radius: 15px;
     margin-right: 9px;
     
}
.skills {

     background-color:  black (32 , 31, 31);
     border: 1px solid black;
     width: 40%;
     margin: 5px 5px 5px;
     margin-right: 40px;
     padding:25px ;
     height: auto;
     display:inline-block;
}

.skills  img {
    
     width: 50%;
     height: auto;


}

#div4 {

         
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: relative;
     background: url(img/laptop-762548_1280.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     padding: 5px;



}

#div4 h1   {

    color: rgb(252, 252, 252);
    text-shadow: 2px 2px 2px rgba(3,3,3,1); 
    margin-bottom: 40px;



}
#div4 p {

    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(3,3,3,1); 
    margin-bottom:20px   ;
   


} 

.overlay {
   
     height: 100vh;
     width: 100vw;
     background-color:  rgba (0,0,0,0.5);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     padding: 10px;


}

form {

     padding: 10px;


}

form input ,form textarea,form button {

     width: 100%;
     padding: 10px;
     font-size: 1.2rem;
     margin-bottom: 5px;


}

form input:focus{
    
      outline: none;


}

form textarea {
  
      font-family: inherit;



}


form textarea:focus {

     outline: none;

} 

form button  {

     border: none;
     padding: 10px;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 10px;
     transition: background-color 0.2s ease-in;
     color: black;
     background-color: aqua;


}

form button:hover {

    background-color: rgb(74, 111, 115);
    color: rgb(10, 5, 5);

}

